div.add-todo-container {
    display: flex;
    flex-direction:column;
    height:30vh;
    justify-content: space-around;
}

div.add-todo-container>label{
    display:flex;
}
div.add-todo-container>label>span {
    flex:1;
}
div.add-todo-container>label>input,div.add-todo-container>label>select {
    flex:1;
}
div.add-todo-container>button {
    align-self:center;
    border:0;
    background:#7c7287;
    padding: .8em 1em;
    color:#fff;
    border-radius: 3px;

}
div.add-todo-container>label>input,select{
    /*flex-grow: 2;*/
    border-radius: 0.5em;
    border:0;
    font-size: 1.5em;
}